<form name='singupForm' novalidate class="form-horizontal" ng-hide="$ctrl.singupOK">

  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">First name: </label>
    <div class="col-sm-10">
      <input 
        type="text" 
        name="firstname" 
        placeholder="First Name" 
        class="form-control" 
        ng-model="$ctrl.user.firstname" 
        required
        ng-maxlength="30">

        <span 
          class="help-block"
          ng-if="(singupForm.firstname.$error.maxlength || singupForm.firstname.$error.required) && singupForm.firstname.$touched">
          First name is required and must not be longer than 30 characters
        </span>
    </div>
  </div>

  <div class="form-group">
    <label for="lastname" class="col-sm-2 control-label">Last name: </label>
    <div class="col-sm-10">
      <input 
        type="text" 
        name="lastname" 
        placeholder="Last Name" 
        class="form-control" 
        ng-model="$ctrl.user.lastname" 
        required
        ng-maxlength="30">

        <span 
          class="help-block"
          ng-if="(singupForm.lastname.$error.maxlength || singupForm.lastname.$error.required) && singupForm.lastname.$touched">
          Last name is required and must not be longer than 30 characters
        </span>
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email: </label>
    <div class="col-sm-10">
      <input 
        type="email" 
        name="email" 
        placeholder="Email" 
        class="form-control" 
        ng-model="$ctrl.user.email" 
        required>

        <span 
          class="help-block"
          ng-if="singupForm.email.$invalid && singupForm.email.$touched"> 
          Must be a valid email address: handle@domain format
        </span>
    </div>
  </div>

  <div class="form-group">
    <label for="phone" class="col-sm-2 control-label">Phone: </label>
    <div class="col-sm-10">
      <input 
        type="text" 
        name="phone" 
        placeholder="Phone ###-###-####" 
        class="form-control" 
        ng-model="$ctrl.user.phone" 
        pattern="(\d{3})-(\d{3})-(\d{4})">
        
        <span 
          class="help-block"
          ng-if="singupForm.phone.$invalid && singupForm.phone.$touched">
          Phone must be in the format ###-###-####.
        </span>
    </div>
  </div>

  <div class="form-group">
    <label for="shortname" class="col-sm-2 control-label">Favorite Menu: </label>
    <div class="col-sm-10">
      <input 
        type="text" 
        name="shortname" 
        placeholder="Short name of your favorite menu item" 
        class="form-control" 
        ng-model="$ctrl.user.short_name">

        <span 
          class="help-block alert alert-danger"
          ng-if="$ctrl.favitemError">
            No such menu number exists
        </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button 
        class="btn btn-default" 
        ng-disabled="singupForm.$invalid" 
        ng-click="$ctrl.submit()">
          Submit
      </button>
    </div>
  </div>

</form>

<p class="alert alert-success text-center" ng-if="$ctrl.singupOK">Your information has been saved.<p>